<html>
    <head>
        <title>Linear Interpolation Calc Challenge</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Linear Interpolation Calculator</h1>
            <p>Calculator Ready!</p>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-sm-6 block">
                <img  style="width: 100%;" src="{{ url_for('static', filename='img/desc.jpeg') }}" alt="Linear Interpolation Simple">
              </div>
              <div class="col-sm-6">
                <form action="/calc", method="POST" id="myform">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Wage ( Y<sub>0</sub> )</label>
                      <input type="number" class="form-control" name="y0" aria-describedby="emailHelp" placeholder="Enter wage">
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="x">Experience ( X )</label>
                            <input name="x" type="number" class="form-control" placeholder="Enter Experience">
                        </div>
                        <div class="col">
                            <label for="x0">Experience ( X<sub>0</sub> )</label>
                            <input name="x0" type="number" class="form-control" placeholder="Enter Experience">
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col">
                            <label for="y">Wage ( Y<sub>1</sub> )</label>
                            <input name="y1" type="number" class="form-control" placeholder="Enter Wage Back">
                        </div>
                        <div class="col">
                            <label for="x1">Experience  ( X<sub>1</sub> )</label>
                            <input name="x1" type="number" class="form-control" placeholder="Enter Experience Next">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" id="calc" class="btn btn-success btn-block">Calc!</button>
                    </div>
                  </form>
                  {% if result %}
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>Nearly always it is the recondite and complicated which is elaborated first; and it is only when some relatively unsophisticated mind attacks a problem that its deep simplicity is revealed.</p>
                    <small>Eric Temple Bell, The Development of Mathematics (1940).</small>
                    <hr>
                    <p class="mb-0">Result _> {{ result }}</p>
                    <a class="btn btn-primary float-right" href="/">Try Again!</a>
                  </div>
                  {% endif %}
              </div>
            </div>
            <br><br><br><br><br>
          </div>
          
          <div class="footer">
            <a class="btn btn-default" href="https://github.com/YusufDEDE/LinearInterpolation-Flask"><h5 id="footer"><i class="fa fa-github"></i> YusufDEDE/LinearInterpolation-Flask</h5></a>
          </div>
    </body>
</html>